# docker-compose.dev.yml
version: '3.8'

services:
  backend:
    build: .
    ports:
      - "6969:6969"
    environment:
      - NODE_ENV=development
      - PORT=6969
      - DB_URI=mongodb+srv://raunak:raunakisthebest@cluster0.118mdij.mongodb.net/?appName=Cluster0
      - JWT_SECRET=raunak_cli_is_the_best
      - CLOUDINARY_ACCOUNT_ID=dnvsjww6u
      - CLOUDINARY_API_KEY=388379582954374
      - CLOUDINARY_API_SECRET=0hl9PVXnGgQ42keV9ghRCsyCPPE
    volumes:
      # Mount source code for hot reload (optional)
      - .:/server
      - /server/node_modules # Keep node_modules isolated
    restart: unless-stopped
    command: npm run dev # Use dev command for local testing
